a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: Galeria;
    src: url(../fonts/Galeria-Bold.otf) format("opentype")
}

@font-face {
    font-family: Galeria-Medium;
    src: url(../fonts/Galeria-Medium.otf) format("opentype")
}

::-webkit-scrollbar {
    width: 0
}

a {
    text-decoration: none
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

body{
    height: auto;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:brown;
}
.disabled{
    pointer-events: none;
}
.logo{
    position: relative;
    float: left;
    font-family: Galeria;
    font-size: 44px;
    transition: color .2s;
    padding-top: 10px;
    padding-left: 10px;
}
.logo:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f7e0b5;
    transition: background .2s
}

.logo:hover {
    color: #7dcbd8
}

.logo:hover:after {
    background-color: #7dcbd8
}
nav{
    top: 30px;
    width: 100%;
    height: 50px;
    z-index: 2;
}
.top-nav-list-item-link {
    float: right;
    height: 100%;
    padding-top: 16px
}

.top-nav-list-item {
    float: left;
    margin-right: 30px;
    counter-increment: item 1;
    display: inline;
}

.container{
    width: 100%;
}
.top-nav-list{
    float: right;
    /* display: inline-block; */
}
.dev-links {
    position: fixed;
    bottom: 0;
    left: 2%;
    transform: translateX(-50%);
    /* width: 1700px; */
    z-index: 2
}
.social-links {
    position: fixed;
    bottom: 0;
    left: 4%;
    transform: translateX(-50%);
    /* width: 1700px; */
    z-index: 2
}


.gmail,
.dev,
.social {
    position: absolute;
    margin-right: 16px;
    bottom: 0
}

.gmail__link:hover,
.dev-list-item:hover,
.social-list-item:hover {
    transform: translateY(-3px)
}
.dev-list::after,
.social-list:after {
    display: block;
    margin: 0 auto;
    /* width: 1px;
    height: 40px; */
    background: #f7e0b5
}
.dev-list-item,
.social-list-item {
    margin-bottom: 10px;
    /* width: 20px;
    height: 20px; */
    transition: transform .2s
}
.dev-list-item:hover .dev-list-icon,
.social-list-item:hover .social-list-icon {
    stroke: #7dcbd8
}
.dev-list-icon,
.social-list-icon {
    fill: none;
    stroke: #f7e0b5
}

.gmail {
    right: 0
}

.gmail-name:after {
    display: block;
    margin: 0 auto;
    /* width: 1px;
    height: 40px; */
    background: #f7e0b5
}

.gmail-link {
    margin-bottom: 10px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: Galeria-Medium;
    font-size: 14px;
    color: #f7e0b5;
    transition: transform .2s
}

.gmail-link:hover {
    color: #7dcbd8
}
.preloader-letter{
    float: left;
    /* margin-right: 30px; */
    /* counter-increment: item 1; */
    display: inline;
}

.preloader-letter,svg,circle{
    stroke: black;
    stroke-width: 5;
 }
 
.preloader,
.preloader-word {
    top: 50%;
    left: 50%;
    visibility: visible;
    transform: translate(-50%, -50%);
    animation: slideup 1.5s ease 3.2s 1 normal forwards;
}
@keyframes slideup {
    from{
        top:50%
    }
    to{
        top:-120%
    }
}
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f7e0b5;
    z-index: 1;
    align-items: center;
}

.preloader-word {
    align-items:center;
    position:absolute;
    display: block;
    width: 1260px;
    height: 240px;

}
.letter-W circle:nth-child(2),
.letter-W circle:nth-child(4),
.letter-W circle:nth-child(5),
.letter-W circle:nth-child(6) {
    -webkit-animation: fillColor .4s ease forwards .4s;
    animation: fillColor .4s ease forwards .4s;
}
.letter-E-1 circle:nth-child(1),
.letter-E-1 circle:nth-child(5) {
    -webkit-animation: fillColor .4s ease forwards .4s;
    animation: fillColor .4s ease forwards .4s;
    animation-delay: 0.8s;
}
.letter-L circle:nth-child(1),
.letter-L circle:nth-child(2),
.letter-L circle:nth-child(3) {
    -webkit-animation: fillColor .4s ease forwards .4s;
    animation: fillColor .4s ease forwards .4s;
    animation-delay: 1.2s;
}
.letter-C circle:nth-child(1),
.letter-C circle:nth-child(4) {
    -webkit-animation: fillColor .4s ease forwards .4s;
    animation: fillColor .4s ease forwards .4s;
    animation-delay: 1.6s;
}
.letter-O circle:nth-child(1),
.letter-O circle:nth-child(3),
.letter-O circle:nth-child(5) {
    -webkit-animation: fillColor .4s ease forwards .4s;
    animation: fillColor .4s ease forwards .4s;
    animation-delay: 2.0s;
}
.letter-M circle:nth-child(1),
.letter-M circle:nth-child(3),
.letter-M circle:nth-child(4) {
    -webkit-animation: fillColor .4s ease forwards .4s;
    animation: fillColor .4s ease forwards .4s;
    animation-delay: 2.4s;
}
.letter-E circle:nth-child(1),
.letter-E circle:nth-child(5){
    -webkit-animation: fillColor .4s ease forwards .4s;
    animation: fillColor .4s ease forwards .4s;
    animation-delay: 2.8s;
}
@-webkit-keyframes fillColor {
    from {
        fill: wheat
    }
    to {
        fill: brown
    }
}

@keyframes fillColor {
    from {
        fill: wheat
    }
    to {
        fill: brown
    }
}

@-webkit-keyframes hide {
    to {
        opacity: 0
    }
}

@keyframes hide {
    to {
        opacity: 0
    }
} 