
@media only screen and (max-width:1080px) {
    .developerWrap {
        width: 920px;
        height: 336px
    }
    .illustration {
        top: calc((-600px / 100) * 21.875);
        left: calc((-893px / 100) * 21.875);
        transform: scale(.56)
    }
    .developer-info {
        width: 409px
    }
    .developer-info-title {
        font-size: 38px
    }
    .developer-info-subtitle {
        font-size: 36px;
        margin-bottom: 21px
    }
    .developer-info-para {
        margin-bottom: 21px;
        font-size: 13px;
        line-height: 24px
    }
    .dev-links {
        width: 920px
    }
    .social-links {
        width: 920px
    }
}

@media only screen and (max-width:960px) {
    .developerWrap {
        width: 850px;
        height: 300px
    }
    .illustration {
        top: calc((-600px / 100) * 25);
        left: calc((-893px / 100) * 25);
        transform: scale(.5)
    }
    .developer-info {
        width: 378px
    }
    .developer-info-title {
        font-size: 35px
    }
    .developer-info-subtitle {
        font-size: 33px;
        margin-bottom: 20px
    }
    .developer-info-para {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 22.5px
    }
    .dev-links {
        width: 850px
    }
    .social-links {
        width: 850px
    }
}

@media only screen and (max-width:890px) {
    .developerWrap {
        width: 787px;
        height: 278px
    }
    .illustration {
        top: calc((-600px / 100) * 26.85);
        left: calc((-893px / 100) * 26.85);
        transform: scale(.463)
    }
    .developer-info {
        width: 350px
    }
    .developer-info-title {
        font-size: 32px
    }
    .developer-info-subtitle {
        font-size: 30px;
        margin-bottom: 18px
    }
    .developer-info-para {
        margin-bottom: 18px;
        font-size: 12px;
        line-height: 21px
    }
    .dev-links {
        display: none
    }
    .social-links {
        display: none
    }
}

@media only screen and (max-width:830px) {
    .illustration:after {
        bottom: -1px;
        height: 6px
    }
    .developerWrap {
        width: 680px;
        height: 240px
    }
    .illustration {
        top: calc((-600px / 100) * 30);
        left: calc((-893px / 100) * 30);
        transform: scale(.4)
    }
    .developer-info {
        width: 303px
    }
    .developer-info-title {
        font-size: 28px
    }
    .developer-info-subtitle {
        font-size: 26px;
        margin-bottom: 16px
    }
    .developer-info-para {
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 18px
    }
    .developer-info__link {
        width: 60px;
        height: 20px;
        font-size: 8px;
        word-spacing: 3px;
        line-height: 18px;
        border-width: 1px;
        border-radius: 2px
    }
}

@media only screen and (max-width:720px) {
    .developerWrap {
        width: 600px;
        height: 210px
    }
    .illustration {
        top: calc((-600px / 100) * 32.5);
        left: calc((-893px / 100) * 32.5);
        transform: scale(.35)
    }
    .developer-info {
        width: 267px
    }
    .developer-info-title {
        font-size: 24px
    }
    .developer-info-subtitle {
        font-size: 22px;
        margin-bottom: 14px
    }
    .developer-info-para {
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 16px
    }
}

@media only screen and (max-width:642px) {
    .developerWrap {
        width: 536px;
        height: 189px
    }
    .illustration {
        top: calc((-600px / 100) * 34.3);
        left: calc((-893px / 100) * 34.3);
        transform: scale(.314)
    }
    .developer-info {
        width: 240px
    }
    .developer-info-title {
        font-size: 22px;
        margin-bottom: 4px
    }
    .developer-info-subtitle {
        font-size: 20px
    }
    .developer-info-para,
    .developer-info-subtitle {
        margin-bottom: 12px
    }
    .mouse {
        bottom: 15px
    }
    .about {
        padding-top: 30px;
        height: auto
    }
    .cardWrap {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        margin: 0 auto;
        width: 338px;
        height: auto
    }
    .iconCard:nth-child(3n) {
        margin-right: 12px
    }
    .iconCard:nth-child(2n) {
        margin-right: 0
    }
}

@media only screen and (max-width:576px) {
    .developerWrap {
        width: 414px;
        height: 536px
    }
    .illustration {
        top: calc((-600px / 100) * 26.85);
        left: calc((-893px / 100) * 26.85);
        transform: scale(.463)
    }
    .developer-info {
        bottom: 0;
        width: 100%
    }
    .developer-info-title {
        font-size: 32px
    }
    .developer-info-subtitle {
        font-size: 30px;
        margin-bottom: 18px
    }
    .developer-info-para {
        margin-bottom: 18px;
        font-size: 12px;
        line-height: 21px
    }
    .developer-info__link {
        width: 92px;
        height: 30px;
        font-size: 11px;
        word-spacing: 3px;
        line-height: 25px;
        border-radius: 2px
    }
    .about {
        padding-top: 0;
        height: 100vh
    }
    .cardWrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        width: 338px;
        height: auto
    }
}

@media only screen and (min-width:415px) and (max-width:1025px) and (orientation:portrait) {
    .burgerWrap {
        display: block;
        top: 17px;
        width: 50px
    }
    .developerWrap {
        width: 893px;
        height: 1045px
    }
    .illustration {
        top: 0;
        left: 0;
        transform: scale(1)
    }
    .developer-info {
        bottom: 0;
        width: 100%
    }
    .developer-info-subtitle,
    .developer-info-title {
        font-size: 70px
    }
    .developer-info-title {
        margin-bottom: 10px
    }
    .developer-info-subtitle {
        margin-bottom: 40px
    }
    .developer-info-para {
        margin-bottom: 40px;
        font-size: 24px;
        word-spacing: 8px;
        line-height: 45px
    }
    .developer-info__link {
        width: 150px;
        height: 50px;
        font-size: 18px;
        word-spacing: 6px;
        line-height: 46px;
        border-radius: 4px
    }
    .dev-links {
        display: none
    }
    .cardWrap {
        width: 835px;
        height: 666px
    }
    .iconCard {
        width: 265px;
        height: 323px;
        margin-bottom: 20px;
        margin-right: 20px;
        padding: 20px
    }
    .iconWrap {
        margin-bottom: 10px;
        height: 110px
    }
    .sociableIcon {
        top: 50px
    }
    .iconTitle {
        margin-bottom: 20px;
        font-size: 18px
    }
    .iconInfo {
        font-size: 14px;
        line-height: 25px
    }
}

@media only screen and (min-width:415px) and (max-width:910px) and (orientation:portrait) {
    .developerWrap {
        width: 795px;
        height: 992px
    }
    .illustration {
        top: calc((-600px / 100) * 5.5);
        left: calc((-893px / 100) * 5.5);
        transform: scale(.89)
    }
    .developer-info-title {
        margin-bottom: 8px
    }
    .developer-info-subtitle {
        margin-bottom: 35px
    }
    .developer-info-para {
        margin-bottom: 35px;
        font-size: 22px;
        word-spacing: 7px;
        line-height: 40px
    }
    .cardWrap {
        width: 550px;
        height: auto
    }
    .iconCard:nth-child(2n) {
        margin-right: 0
    }
    .iconCard:nth-child(3n) {
        margin-right: 20px
    }
    .iconCard:nth-child(6n) {
        margin-right: 0
    }
    .dynamicIcon,
    .fastIcon,
    .intuitiveIcon,
    .learnabilityIcon,
    .responsiveIcon {
        transform: translate(-50%, -50%) scale(1)
    }
    .sociableIcon {
        transform: translateX(-50%) scale(1)
    }
}

@media only screen and (min-width:415px) and (max-width:834px) and (orientation:portrait) {
    .developerWrap {
        width: 727px;
        height: 917px
    }
    .illustration {
        top: calc((-600px / 100) * 9.3);
        left: calc((-893px / 100) * 9.3);
        transform: scale(.814);
        border-bottom: 3px solid #2a333c
    }
    .illustration:after {
        display: none
    }
    .developer-info-subtitle,
    .developer-info-title {
        font-size: 60px
    }
    .developer-info-title {
        margin-bottom: 8px
    }
    .developer-info-subtitle {
        margin-bottom: 30px
    }
    .developer-info-para {
        margin-bottom: 30px;
        font-size: 24px;
        word-spacing: 8px
    }
    .developer-info__link {
        width: 150px;
        height: 50px;
        font-size: 18px;
        word-spacing: 6px;
        line-height: 46px;
        border-radius: 4px
    }
}

@media only screen and (min-width:415px) and (max-width:768px) and (orientation:portrait) {
    .iconCard,
    .iconCard:nth-child(3n) {
        margin-right: 12px
    }
    .developerWrap {
        width: 670px;
        height: 877px
    }
    .illustration {
        top: calc((-600px / 100) * 12.5);
        left: calc((-893px / 100) * 12.5);
        transform: scale(.75)
    }
    .developer-info-title {
        margin-bottom: 7px
    }
    .developer-info-para {
        font-size: 22px;
        word-spacing: 7px
    }
    .cardWrap {
        width: 338px
    }
    .iconCard {
        width: 163px;
        height: 199px;
        margin-bottom: 12px;
        padding: 12px
    }
    .iconCard:nth-child(6n) {
        margin-right: 0
    }
    .iconWrap {
        margin-bottom: 6px;
        height: 68px
    }
    .dynamicIcon,
    .fastIcon,
    .intuitiveIcon,
    .learnabilityIcon,
    .responsiveIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.61)
    }
    .sociableIcon {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%) scale(.61)
    }
    .iconTitle {
        margin-bottom: 12px;
        font-size: 11px
    }
    .iconInfo {
        font-size: 9px;
        line-height: 15px
    }
}

@media only screen and (min-width:415px) and (max-width:685px) and (orientation:portrait) {
    .burgerWrap {
        display: block;
        top: 9px;
        width: 30px
    }
    .developerWrap {
        width: 580px;
        height: 734px
    }
    .illustration {
        top: calc((-600px / 100) * 17.5);
        left: calc((-893px / 100) * 17.5);
        transform: scale(.65)
    }
    .developer-info-subtitle,
    .developer-info-title {
        font-size: 45px
    }
    .developer-info-subtitle {
        margin-bottom: 25px
    }
    .developer-info-para {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 35px
    }
    .developer-info__link {
        width: 98px;
        height: 32px;
        font-size: 12px;
        word-spacing: 6px;
        line-height: 28px;
        border-radius: 4px
    }
}

@media only screen and (min-width:415px) and (max-width:595px) and (orientation:portrait) {
    .developerWrap {
        width: 473px;
        height: 650px
    }
    .illustration {
        top: calc((-600px / 100) * 23.5);
        left: calc((-893px / 100) * 23.5);
        transform: scale(.53)
    }
    .developer-info-subtitle,
    .developer-info-title {
        font-size: 40px
    }
    .developer-info-subtitle {
        margin-bottom: 20px
    }
    .developer-info-para {
        font-size: 18px;
        word-spacing: 4px;
        line-height: 30px
    }
    .about {
        height: 100vh
    }
    .cardWrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

@media only screen and (min-width:415px) and (max-width:490px) and (orientation:portrait) {
    .burgerWrap {
        top: 4px
    }
    .developerWrap {
        width: 402px;
        height: 560px
    }
    .illustration {
        top: calc((-600px / 100) * 27.5);
        left: calc((-893px / 100) * 27.5);
        transform: scale(.45)
    }
    .developer-info-subtitle,
    .developer-info-title {
        font-size: 33px
    }
    .developer-info-subtitle {
        margin-bottom: 12px
    }
    .developer-info-para {
        margin-bottom: 13px;
        font-size: 16px;
        word-spacing: 3px;
        line-height: 28px
    }
}

@media only screen and (max-width:414px) {
    .developerWrap {
        width: 358px;
        height: 560px
    }
    .illustration {
        top: calc((-600px / 100) * 30);
        left: calc((-893px / 100) * 30);
        transform: scale(.4)
    }
    .developer-info-para {
        margin-bottom: 18px;
        font-size: 16px;
        line-height: 26px
    }
}

@media only screen and (max-width:375px) {
    .developerWrap {
        width: 327px;
        height: 530px
    }
    .illustration {
        top: calc((-600px / 100) * 31.69);
        left: calc((-893px / 100) * 31.69);
        transform: scale(.3662)
    }
    .developer-info-title {
        font-size: 30px
    }
    .developer-info-subtitle {
        font-size: 28px
    }
    .about {
        padding-top: 30px;
        height: auto
    }
    .cardWrap {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        margin: 0 auto;
        width: 265px;
        height: auto
    }
    .iconCard {
        width: 265px;
        height: 323px;
        margin-bottom: 20px;
        margin-right: 20px;
        padding: 20px
    }
    .iconCard:nth-child(3n) {
        margin-right: 12px
    }
    .iconCard:nth-child(2n) {
        margin-right: 0
    }
    .iconWrap {
        margin-bottom: 10px;
        height: 110px
    }
    .dynamicIcon,
    .fastIcon,
    .intuitiveIcon,
    .learnabilityIcon,
    .responsiveIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1)
    }
    .sociableIcon {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%) scale(1)
    }
    .iconTitle {
        margin-bottom: 20px;
        font-size: 18px
    }
    .iconInfo {
        font-size: 14px;
        line-height: 25px
    }
}

@media only screen and (max-width:320px) {
    .developerWrap {
        width: 278px;
        height: 445px
    }
    .illustration {
        top: calc((-600px / 100) * 34.45);
        left: calc((-893px / 100) * 34.45);
        transform: scale(.311)
    }
    .developer-info-subtitle,
    .developer-info-title {
        font-size: 26px
    }
    .developer-info-subtitle {
        margin-bottom: 14px;
        font-size: 24px
    }
    .developer-info-para {
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 24px
    }
    .developer-info-paraPost {
        display: none
    }
}

@media only screen and (min-width:1601px) and (max-width:5000px) and (max-height:940px) {
    .navigation {
        top: 15px;
        left: 30px;
        transform: translate(0);
        width: 30px
    }
    .navigation__links {
        display: none
    }
    .burgerWrap {
        display: block;
        height: 50px
    }
    .dev-links {
        display: none
    }
    .about,
    .home {
        height: 1000px
    }
}

@media only screen and (min-width:1441px) and (max-width:1600px) and (max-height:700px) {
    .navigation {
        top: 15px;
        left: 30px;
        transform: translate(0);
        width: 30px
    }
    .navigation__links {
        display: none
    }
    .burgerWrap {
        display: block;
        height: 50px
    }
    .dev-links {
        display: none
    }
    .about,
    .home {
        height: 900px
    }
}

@media only screen and (min-width:1301px) and (max-width:1440px) and (max-height:670px) {
    .navigation {
        top: 15px;
        left: 30px;
        transform: translate(0);
        width: 30px
    }
    .navigation__links {
        display: none
    }
    .burgerWrap {
        display: block
    }
    .dev-links {
        display: none
    }
    .about,
    .home {
        height: 720px
    }
}

@media only screen and (min-width:1181px) and (max-width:1300px) and (max-height:615px) {
    .navigation {
        top: 15px;
        left: 30px;
        transform: translate(0);
        width: 30px
    }
    .navigation__links {
        display: none
    }
    .burgerWrap {
        display: block
    }
    .dev-links {
        display: none
    }
    .about,
    .home {
        height: 700px
    }
}

@media only screen and (min-width:1081px) and (max-width:1180px) and (max-height:540px) {
    .navigation {
        top: 15px;
        left: 30px;
        transform: translate(0);
        width: 30px
    }
    .navigation__links {
        display: none
    }
    .burgerWrap {
        display: block
    }
    .dev-links {
        display: none
    }
    .about,
    .home {
        height: 600px
    }
}

@media only screen and (min-width:961px) and (max-width:1080px) and (max-height:515px) {
    .navigation {
        top: 15px;
        left: 30px;
        transform: translate(0);
        width: 30px
    }
    .navigation__links {
        display: none
    }
    .burgerWrap {
        display: block
    }
    .dev-links {
        display: none
    }
    .about,
    .home {
        height: 520px
    }
}

@media only screen and (min-width:891px) and (max-width:960px) and (max-height:470px) {
    .navigation {
        top: 15px;
        left: 30px;
        transform: translate(0);
        width: 30px
    }
    .navigation__links {
        display: none
    }
    .burgerWrap {
        display: block
    }
    .dev-links {
        display: none
    }
    .about,
    .home {
        height: 500px
    }
}

@media only screen and (min-width:720px) and (max-width:890px) and (max-height:425px) {
    .navigation {
        top: 15px;
        left: 30px;
        transform: translate(0);
        width: 30px
    }
    .navigation__links {
        display: none
    }
    .burgerWrap {
        display: block
    }
    .dev-links {
        display: none
    }
    .about,
    .home {
        height: 450px
    }
}

@media only screen and (min-width:376px) and (max-width:414px) and (max-height:730px) {
    .about,
    .home {
        height: 736px
    }
}

@media only screen and (min-width:321px) and (max-width:375px) and (max-height:660px) {
    .home {
        height: 667px
    }
}

@media only screen and (max-width:320px) and (max-height:560px) {
    .home {
        height: 568px
    }
}



.preloader-letter{
    float: left;
    /* margin-right: 30px; */
    /* counter-increment: item 1; */
    display: inline;
}

.preloader-letter,svg,circle{
    stroke: black;
    stroke-width: 5;
 }
 
.preloader,
.preloader-word {
    top: 50%;
    left: 50%;
    visibility: visible;
    transform: translate(-50%, -50%);
    animation: slideup 1s ease 2.0s 1 normal forwards;
}
@keyframes slideup {
    from{
        top:50%
    }
    to{
        top:-120%
    }
}
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f7e0b5;
    z-index: 1;
    align-items: center;
}

.preloader-word {
    align-items:center;
    position:absolute;
    display: block;
    width: 1260px;
    height: 240px;

}
.letter-W circle:nth-child(2),
.letter-W circle:nth-child(4),
.letter-W circle:nth-child(5),
.letter-W circle:nth-child(6) {
    -webkit-animation: fillColor .2s ease forwards .2s;
    animation: fillColor .2s ease forwards .2s;
}
.letter-E-1 circle:nth-child(1),
.letter-E-1 circle:nth-child(5) {
    -webkit-animation: fillColor .2s ease forwards .2s;
    animation: fillColor .2s ease forwards .2s;
    animation-delay: 0.4s;
}
.letter-L circle:nth-child(1),
.letter-L circle:nth-child(2),
.letter-L circle:nth-child(3) {
    -webkit-animation: fillColor .2s ease forwards .2s;
    animation: fillColor .2s ease forwards .2s;
    animation-delay: 0.6s;
}
.letter-C circle:nth-child(1),
.letter-C circle:nth-child(4) {
    -webkit-animation: fillColor .2s ease forwards .2s;
    animation: fillColor .2s ease forwards .2s;
    animation-delay: 0.8s;
}
.letter-O circle:nth-child(1),
.letter-O circle:nth-child(3),
.letter-O circle:nth-child(5) {
    -webkit-animation: fillColor .2s ease forwards .2s;
    animation: fillColor .2s ease forwards .2s;
    animation-delay: 1.0s;
}
.letter-M circle:nth-child(1),
.letter-M circle:nth-child(3),
.letter-M circle:nth-child(4) {
    -webkit-animation: fillColor .2s ease forwards .2s;
    animation: fillColor .2s ease forwards .2s;
    animation-delay: 1.2s;
}
.letter-E circle:nth-child(1),
.letter-E circle:nth-child(5){
    -webkit-animation: fillColor .2s ease forwards .2s;
    animation: fillColor .2s ease forwards .2s;
    animation-delay: 1.6s;
}
@-webkit-keyframes fillColor {
    from {
        fill: wheat
    }
    to {
        fill: brown
    }
}

@keyframes fillColor {
    from {
        fill: wheat
    }
    to {
        fill: brown
    }
}

@-webkit-keyframes hide {
    to {
        opacity: 0
    }
}

@keyframes hide {
    to {
        opacity: 0
    }
} 

.developer-info {
    position: absolute;
    right: 0;
    width: 50%;
    margin-right: 16px;
}

.developer-info-subtitle,
.developer-info-title {
    font-family: Galeria;
    font-size: 70px;
    color: #f7e0b5
}

.developer-info-title {
    margin-bottom: 10px
}

.developer-info-subtitle {
    margin-bottom: 40px;
    font-size: 50px;
}

.developer-info-name {
    color: #2a333c
}

.developer-info-para {
    margin-bottom: 40px;
    font-family: Galeria-Medium;
    font-size: 24px;
    word-spacing: 8px;
    text-align: justify;
    line-height: 45px;
    color: #f7e0b5
}